<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Sentiment Analysis</title>
</head>

<body>
    <form action="/analizadorsentimiento/" method ="post">
        <p>Insert the text</p>
        <p>
            <textarea name="texto" cols="80" rows="10" placeholder="Write the text here..."></textarea>
        </p>
        <p>
            <input type="submit" value= "Enviar" />
        </p>
    </form> 
</body>
</html>

